@model ZeroDengue.Models.User

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Password)*@Senha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Ssn)*@CPF
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssn)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@Telefone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Address)*@Endereço
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Address)*@ Av Jardim Silva, nº 25, 27947-898, Ervalia - Acre
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-success">Voltar</a>
</div>
