@model IEnumerable<ZeroDengue.Models.User>

@{
    ViewData["Title"] = "Cidadãos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@ Nome
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@ E-mail
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Password)*@ Senha
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ssn)*@ CPF
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@ Telefone
            </th>
                @*@Html.DisplayNameFor(model => model.Address)*@ 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
