@model ZeroDengue.Models.Complaint

@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que você quer excluir?</h3>
<div>
    <h4>Denúncia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.ComplaintNumber)*@ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComplaintNumber)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Picture)*@Foto
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Picture)" , height="250" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Address)*@Endereço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Description)*@Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">

        <input type="hidden" asp-for="ComplaintId" />
        
        <input type="submit" value="Excluir" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-success">Voltar</a>
    </form>
</div>
