@model ZeroDengue.Models.Complaint

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Denúncia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.User)*@Usuário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Picture)*@Foto
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Picture)" , height="250" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Address)*@Endereço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Description)*@Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComplaintId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-success">Voltar</a>
</div>
